#header{
    height: 100px;
    display: block;
}
#page{
    
}
#west{
    display: inline-block;
    width: 200px;
    background: #204d74;
}
#content{
    display: inline-block;
    background: #245580;
    width: auto;
}